@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #f2f0ed;
}

::-webkit-scrollbar {
  width: 0;
}

#basic-nav-dropdown {
  color: #b2a495;
  font-weight: 600;
}

.dropdown-menu {
  border-color: #b2a495 !important;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: white !important;
}
